@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
  border-bottom: 1px solid #405189;
}


/* For Toggles don't delete */
input:checked  ~ .bgtoggle {
  transform: translateX(0%);
  background-color: #405189;
  border-color: #405189;
}

input:checked ~ .dot {
  transform: translateX(90%);
  background-color: white;
}










@font-face{
  font-family: 'HkGroteskLight';
  src:url('../Font/HKGrotesk-Light.woff') 
}

@font-face{
  font-family: 'HkGroteskMedium';
  src:url('../Font/HKGrotesk-Medium.woff') 
}
@font-face{
  font-family: 'HkGroteskRegular';
  src:url('../Font/HKGrotesk-Regular.woff')
}


@font-face{
  font-family: 'HkGroteskRegularLegacy';
  src:url('../Font/HKGrotesk-RegularLegacy.woff')
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* npx tailwindcss -i ./src/App.css -o ./Css/output.css --watch */