@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    font-family: 'Poppins';
  }
}



.flatpickr-input{
  background-color: inherit;
  flex-grow: 1;
  width: 12rem;
  font-size: 13px;
  padding: 0 5px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.flatpickr-input:focus{
  outline: none!important;
}
.world path{
  fill: #eff2f7;
  cursor: pointer;
  stroke-width: 1px;
  stroke: #ced4da;
}
.world path:hover{
  opacity: 0.6;
}

td{
  padding: 1rem 1rem;
  text-align: start;

}
.donut-table td{
  padding: .5rem 1rem 1rem;
}

th{
  padding: 0.75rem 1rem;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: start;
  color: #878a99;
}

.apexcharts-legend-text {
  font-size: 12px !important;
  letter-spacing: 1.2px;
}
.apexcharts-text tspan {
  /* letter-spacing: 1.5px; */
  font-size: 6px;
  font-weight: 400;
}

@media only screen and (min-width: 640px) {
  .apexcharts-text tspan {
    letter-spacing: 1.25px;
    font-size: 8px;
    font-weight: 400;
  }
}
@media only screen and (min-width: 768px) {
  .apexcharts-text tspan {
    letter-spacing: 1.5px;
    font-size: 13px;
    font-weight: 400;
  }
}




.flatpickr-day.selected{
  background-color: #405189;
  border: #405189;
}
.flatpickr-day.selected:hover{
  background-color: #405189;
  border: #405189;
}
.flatpickr-day.today:hover{
  background-color: #e6e6e6;
  border: #e6e6e6;
}


.sideBar::-webkit-scrollbar {
  display: none;
}
.settingBar::-webkit-scrollbar {
  display: none;
}



/* ::-webkit-scrollbar-thumb {
  background-color: #718096;
}

::-webkit-scrollbar-track {
  background-color: #CBD5E0;
} */



@font-face{
  font-family: 'HkGroteskLight';
  src:url('../Font/HKGrotesk-Light.woff') 
}

@font-face{
  font-family: 'HkGroteskMedium';
  src:url('../Font/HKGrotesk-Medium.woff') 
}
@font-face{
  font-family: 'HkGroteskRegular';
  src:url('../Font/HKGrotesk-Regular.woff')
}


@font-face{
  font-family: 'HkGroteskRegularLegacy';
  src:url('../Font/HKGrotesk-RegularLegacy.woff')
}



/* npx tailwindcss -i ./src/App.css -o ./Css/output.css --watch */









